* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: dimgrey;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    html, body {
        background-color: antiquewhite;
        color: black;
    }
}

body {
    padding: 20px;
}

img {
    object-fit: cover;
    display: block;
}

form, article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border-bottom: 3px solid blueviolet;
    padding: 50px 0;
}

article, button {
    cursor: pointer;
}

input, button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

label, input {
    margin-bottom: 15px;
}

button {
    background-color: blueviolet;
    color: #fff;
}

label, button {
    text-transform: uppercase;
}