* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
}
 
header, nav, section, article, aside, footer {
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    height: 50px;
}
.row {
    display: flex;
}
 
.col_1 {
    width: 50%;
}
 
aside {
    width: 50%;
    height: 105px;
}